* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 0 2.5rem;
    grid-template-areas:
        "image login"
}

.container {
    grid-area: image;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.login-container {
    grid-area: login;
    display: flex;
    align-items: center;
    text-align: center;
}

.login-container h2 {
    margin: 15px 0;
    color: rgb(64, 64, 64);
    font-size: 2.9rem;
}

.login-container img {
    height: 100px;
    margin: 0 auto;
}

form {
    width: 360px;
}

#email,
#password {
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 20px 0;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: rgb(99, 92, 92);
    border-bottom: 2px solid #d9d9d9;
}

.forgot a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: rgb(107, 106, 106);
    font-size: 0.9rem;
}

.forgot a:hover {
    color: #00BFA6;
    ;
}

.button a {
    display: block;
    width: 100%;
    height: 50px;
    text-decoration: none;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    text-align: center;
    background-color: #00BFA6;
    font-size: 1.2rem;
    color: #fff;
    margin: 1rem 0;
}